<h3>Registrace - výběr městské části / obvodu</h3>

Vyberte si prosím městskou část / obvod, ve kterém chcete delegovat do okrskové komise.

<% for district in @districts %>

<ul>
<li><%= link_to district.name, next_wizard_path(district_id: district.id) %></li>
</ul>

<% end %>