<%
  page_title "Registrace - výběr obce"
  breadcrumb :region, @municipalities.first.region
%>

Vyberte si prosím obec, ve které chcete delegovat do okrskové komise.

<% for municipality in @municipalities.sort{|a,b| ActiveSupport::Inflector.transliterate(a.name)<=>ActiveSupport::Inflector.transliterate(b.name)} %>

<ul>
<li><%= link_to municipality.name, next_wizard_path(municipality_id: municipality.id) %></li>
</ul>

<% end %>