<h3>Registrace - výběr kraje</h3>

<p>Vyberte prosím kraj, ve kterém chcete delegovat do okrskové komise.</p>

<% for region in @regions %>

<ul>
<li><%= link_to region.name, next_wizard_path(region_id: region.id) %></li>
</ul>

<% end %>