<%
  page_title "Registrace - výběr kraje"
  breadcrumb :regions
%>

<p>Vyberte prosím kraj, ve kterém chcete delegovat do okrskové komise.</p>

<% for region in @regions %>

<ul>
<li><%= link_to region.name, next_wizard_path(region_id: region.id) %></li>
</ul>

<% end %>