<%
  page_title "Registrace pro volby EP2014 - výběr kraje"
  breadcrumb :regions
%>

<p>Registrace do okrskových volebních komisí pro komunální volby konané ve dnech 10. a 11. října 2014. V případě nejasností se na nás můžete obrátit emailem na adrese <%=mail_to "kancelar@svobodni.cz"%> nebo telefonicky na čísle 773 697 985.</p>

<p>Strana svobodných občanů má jako kandidující strana ze zákona nárok na své zástupce v okrskových volebních komisích. Pokud máte zájem zúčastnit se kontroly voleb a získat finanční odměnu, můžete se zde přihlásit. Všechny registrované budeme delegovat. Podmínkou je české občanství a plnoletost.</p>

<p>Vyberte prosím kraj, ve kterém chcete delegovat do okrskové komise.</p>

<% for region in @regions %>

<ul>
<li><%= link_to region.name, next_wizard_path(region_id: region.id) %></li>
</ul>

<% end %>