$icon-font-path: '../fonts/';

$brand-primary:         #00654E;
$headings-color:        $brand-primary;
$font-family-base:      "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family:  "Roboto-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:        14px;
$font-size-h1:          floor(($font-size-base * 2.4)) !default; // ~36px
$font-size-h2:          floor(($font-size-base * 1.6)) !default; // ~30px
$font-size-h3:          ceil(($font-size-base * 1.2)) !default; // ~24px


// Navbar
// $navbar-height:                    50px !default;
// $navbar-margin-bottom:             $line-height-computed !default;
// $navbar-border-radius:             $border-radius-base !default;
// $navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
// $navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
// $navbar-collapse-max-height:       340px !default;

$navbar-default-color:             $brand-primary;
$navbar-default-bg:                #fff;
$navbar-default-border:            transparent;

// Navbar links
$navbar-default-link-color:                $brand-primary;
$navbar-default-link-hover-color:          #fff;
$navbar-default-link-hover-bg:             $brand-primary;
$navbar-default-link-active-color:         #fff;
$navbar-default-link-active-bg:            $brand-primary; //darken($brand-primary, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc;
// $navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;

//$navbar-height: 15px;


  // $btn-primary-bg:      $brand-primary;
  // $link-hover-color:      $brand-primary;
// $panel-default-heading-bg:                    $brand-primary;
// $panel-footer-bg:                    $brand-primary;

// bower:scss
// @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "bootstrap";

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


// $bgDefault      : #00654e;
// $bgHighlight    : #ffffff;
// $colDefault     : #ffffff;
// $colHighlight   : #eee;
// $dropDown       : true;
// .navbar-default {
//   background-color: $bgDefault;
//   border-color: $bgHighlight;
//   .navbar-brand {
//     color: $colDefault;
//     &:hover, &:focus {
//       color: $colHighlight; }}
//   .navbar-text {
//     color: $colDefault; }
//   .navbar-nav {
//     > li {
//       > a {
//         color: $colDefault;
//         &:hover,  &:focus {
//           color: $colHighlight; }}
//       @if $dropDown {
//         > .dropdown-menu {
//           background-color: $bgDefault;
//           > li {
//             > a {
//               color: $colDefault;
//               &:hover,  &:focus {
//                 color: $bgDefault;
//                 background-color: $bgHighlight; }}
//             > .divider {
//               background-color: $bgHighlight;}}}}}
//     @if $dropDown {
//       .open .dropdown-menu > .active {
//         > a, > a:hover, > a:focus {
//           color: $colHighlight;
//           background-color: $bgHighlight; }}}
//     > .active {
//       > a, > a:hover, > a:focus {
//         color: $bgDefault;
//         background-color: $bgHighlight; }}
//     > .open {
//       > a, > a:hover, > a:focus {
//         color: $bgDefault;
//         background-color: $bgHighlight; }}}
//   .navbar-toggle {
//     border-color: $bgHighlight;
//     &:hover, &:focus {
//       background-color: $bgHighlight; }
//     .icon-bar {
//       background-color: $colDefault; }}
//   .navbar-collapse,
//   .navbar-form {
//     border-color: $colDefault; }
//   .navbar-link {
//     color: $colDefault;
//     &:hover {
//       color: $colHighlight; }}}
// @media (max-width: 767px) {
//   .navbar-default .navbar-nav .open .dropdown-menu {
//     > li > a {
//       color: $colDefault;
//       &:hover, &:focus {
//         color: $colHighlight; }}
//     > .active {
//       > a, > a:hover, > a:focus {
//         color: $colHighlight;
//         background-color: $bgHighlight; }}}
// }
//
// nav.navbar{
//   // $navbar-default-link-color: white;
//   // $navbar-bg: red;
//    // Animation
//    -webkit-transition: all 0.4s ease;
//    transition: all 0.4s ease;
//    $a-tags: 'a, a:active, a:hover, a:visited';
//    $a-tags-hover: 'a:active, a:hover';
//
//   #{$a-tags} {
//     color: red;
//     text-decoration: none;
//   }
//   #{$a-tags-hover} {
//     color: blue;
//   }
//   background-color: $brand-primary;
// }
//
// nav.navbar.shrink {
//   // max-height: 15px;
//   // background-color: red;
// }

.navbar {
  border-top: 15px solid #00654e;
}
.navbar-brand {
  min-height: 100px;
}
.navbar-brand {
  padding: 0px; /* firefox bug fix */

}
.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
  margin-left: -25px;
}

.perex {
  font-size:      floor(($font-size-base * 1.4));
  color:          $brand-primary;
}

.content, .footer {
  ol, ul {
    counter-reset: level1;
    list-style: none;
    margin-left: 0px;
    padding-left: 0;
  }

  // li {
  //     // padding-left: 1.7em;
  //     // text-indent: -1em;
  // }

  ul li:before {
    font-size: $font-size-h3;
    color: $brand-primary;
    margin-right: 14px;
    content: "\002022";
  }

  ol li:before {
    // font-size: $font-size-h3;
    color: $brand-primary;
    // margin-right: 14px;
    // content: ")";
    content: counter(level1) ") "; /*Instead of ". " */
    counter-increment: level1;
    margin-right: 8px;
  }

}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  border-top: 15px solid #00654e;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;
  min-height: 90px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  margin-top: 20px;
  padding-top: 19px;
  margin-left: 14px;
  // color: #777;
  // border-top: 1px solid #e5e5e5;
}

.footer .row div{
  border-left: 1px solid $brand-primary;
  margin-bottom: 19px;
  min-height: 50px;
  // margin-left: 14px;
  // margin-right: -14px;
  // padding-left: 14px;
}
// .container-narrow > hr {
//   margin: 30px 0;
// }

// /* Main marketing message and sign up button */
// .jumbotron {
//   text-align: center;
//   border-bottom: 1px solid #e5e5e5;
//   .btn {
//     font-size: 21px;
//     padding: 14px 24px;
//   }
// }

// /* Supporting marketing content */
// .marketing {
//   margin: 40px 0;
//   p + h4 {
//     margin-top: 28px;
//   }
// }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.cascading-dropdown-loading {
  cursor: wait;
  background: url(image_path('ajax-loader.gif')) 85% center no-repeat transparent;
}
