<% page_title "Počty registrací podle krajů" %>
<table class="table">
	<thead><tr><th>Kraj</th><th>Počet registrací</th></tr></thead>
	<tbody>
		<% for region, commisaries in @stats%>
		<tr><td><%= region.name %></td><td><%= commisaries.count %></td></tr>
		<% end %>
		<tr><th>Celkem osob</th><th><%= Commisary.count %></th></tr>
		<tr><th>Celkem radnic</th><th><%= Commisary.all.group_by{|c| c.ward.town_hall}.size %></th></tr>
	</tbody>
</table>
